
/*.navbar-header {

	margin-bottom: 0px;
	padding-bottom: 30px;
}*/

body {

	background-color: gray;
}

footer {

	width: 100%;
}

.container1 {
	float: left;
	background: blue;
	width: 758px;
}

.col-md-8 {
	
	float: left;
	background-color: white;
}

.col-md-8 img{

	float: left;
	padding: 10px 20px 10px 10px;
}

.col-md-4 {

	float: right;
	background-color: white;
}

.container-fluid {

	/*width: 100%;*/
}


#contact-form ul {
  margin-bottom: 20px;
}
#contact-form li {
  margin-bottom: 10px;
}
label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}
input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}
textarea {
  height: 200px;
}
input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}



/*-------Clearfix--------*/

.clearfix:after {
	
	Content: "";
	Display: block;
	Clear: both;

}











